{% extends "solar_plants/report.html" %}

{% block chart %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="solarPlant">Select Solar Plant ID</label>
        </div>
        <select class="custom-select" name="solarPlant" id="selectedSolarPlant">
        {% for plant in plants %}
            <option value={{ plant.plant_id }}>{{ plant.plant_id }}</option>
        {% endfor %}
        </select>
    </div>
    <div id="reportBarChart" class="table-responsive">
        <canvas id="reportBarChartCanvas" class="table"></canvas>
    </div>
{% endblock chart %}

{% load static %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'solar_plants/js/barchart.js' %}"></script>
{% endblock javascript %}
